@import url('https://fonts.googleapis.com/css2?family=Inter&family=Play&family=Roboto&display=swap');

body{
    box-sizing: border-box;
    padding: 0;
    background-color: rgb(250, 250, 250);
    margin: 0;
    font-size: 14px;
    overflow-x: hidden;
    font-family: 'Inter', sans-serif;
}

#logo{
    margin-top: 6px;
    margin-left:19% ;
}
a{
    margin-top: 17px;
    color: rgb(160, 167, 175);
    text-decoration: none;
}
nav{
    display: flex;
    background-color:rgb(17, 19, 23);
    height: 50px;
    display: flex;
    justify-content: space-evenly;
    
}

nav > svg{
    margin-top: 20px;
    fill: rgb(160, 167, 175);
}
span > svg{
    fill: rgb(160, 167, 175);
    margin-top: 20px;
    
   
}

.login{
    padding: 0 12px;
    background-color: black;
    border-color:rgb(160, 167, 175);
    border-radius: 5px;
    color: white;
    height: 30px;
    border-style: solid;
    margin-top: 10px;
    width: 70px;
}
.signup{
    color: white;
    border-radius: 5px;
    border-color:rgb(0, 159, 129);
    border-style: solid;
    height: 30px;
    margin-top: 10px;
    width: 80px;
    padding: 0 12px;
    background-color: rgb(0, 159, 129);
}
.login-div{
    padding-left: 200px;
    margin-right: 300px;
}
.login-div > svg{
    position: relative;
    fill: rgb(160, 167, 175);
    top: 3px;
}



.afternav{
    margin-left: 400px;
    display: flex;
    font-size: medium;
    background-color: white;
    width: 100%;
    height: 63px;
}

.afternav > a{

    padding-right: 30px;
    color: black;
}
.afternav >a:hover{
    color: #FF642D;
}


.topwebsites{
    width: 100%;
    background: url(background2.jpg);
    height: 600px;
    background-size: 40%;
    object-fit:contain;
    background-repeat: no-repeat;
    background-position-x: right;
}

.section2{
    margin-top: -100px;
}
.inbox{
    fill: black;
    margin: 0;
    padding: 0;
    margin-top: 15px;
}

.topwebsites > div{

    margin-left: 21%;
}

h3{
   
    font-weight: lighter;
}

#stat{
    border-radius: 5px;
    border-style: solid;
    padding-left: 20px;
    border-color: rgb(196, 199, 207);
    height: 50px;
    width: 522px;
}

.checktraffic{
    border-radius: 5px;
    color: white;
    border-color:#FF642D;
    background-color: #FF642D;
    border-style: solid;
    width: 234px;
    height: 57px;
}
.logo {
    height: 20px;
    width: 20px;
}

.color {
    color: #009F81;
}

.color1 {
    color: red;
}

table {
    text-size-adjust:100%;
    border-collapse: collapse;
    margin: auto;
    padding: 100px;
    padding-bottom: 0px;

}

td {
    padding: 10px 60px;
    text-align: left;
    border-bottom: 1px rgb(141, 139, 139) solid;
}

.icons{
    padding: 20px;
    height: 20px !important ;width :  20 px! important;}


tr {
    border-bottom: 1px black solid;
}

th {
    border-bottom: 1px black solid;
    font-size: 20px;
}
h1{
    font-size: 50px;
    margin-left: 300px;
    
}

span{
    color: #FF642D;
}
.form {
    /* border: 1px black solid; */
    background-color: rgb(255, 255, 255);
    /* background-color: transparent; */
    height: 300px;
    width: 1000px;
    padding-top: 10px;
    position: relative;
    left: 90px;
    margin-top: 53px;
    display: block;
    border-radius: 15px;
    /* box-shadow: 5px 5px 2px 2px grey; */
}
.form p{
    font-size: 16px;
}
.form #top{
    position: relative;
    left: -300px;
    line-height: 24px;
    padding-bottom: -10px;
}

.wld{
    border-radius: 5px;
    border-color: gray;
}


.top{
    padding-left: 2000px;
}

.sharediv{
    margin-top: 20px;
    padding-left: 20%;
    display: flex;
    padding-top: 0;
    width: 100%;
    height: 500px;
}
.icons{
    margin-left: 10px;
    border: 1px solid gray;
    border-radius: 5px;
}
/* FOOTER */
/* FIRST COMPLETE DIV */
.main {
    padding: 30px;
    display: flex;
    justify-content: space-around;
    margin-top: 100px;
}

/* FOR BUTTON AND ADDRESS */
.mail {

    display: flex;
    justify-content: space-between;
    width: 550px;
}

img {
    width: 18px;
}


.contact {

    width: 168px;
    height: 42.4px;
    border-radius: 5px;
    background-color: #111317;
    color: #898D9A;
    font-weight: bold;
    border: 1px solid #898d9a;

}

.address {
    margin-top: 12px;
    font-family: 'Inter', sans-serif;
    font-size: small;
}

.one {
    background-color: #111317;
    height: 80vh;
    margin-top: 10%;
}

.greenbutton {
    background-color: #009F81;
    width: 338px;
    height: 42.4px;
    color: white;
    border: 1px solid #009F81;
    font-size: 16px;
    border-radius: 5px;
}

.pricing {
    text-align: center;
    line-height: 40.5px;
    font-size: 12px;
    font-weight: 900;
}

.green {
    display: block;
    align-items: center;
    justify-content: center;
}


.mainparentdiv {
    display: flex;
    justify-content: center;
}

.parentdiv {
    display: flex;
    justify-content: space-around;
    line-height: 25px;
    font-size: 12px;
    width: 1270px;
}

.headline {
    color: white;
    font-weight: bold;

}

.texts1 {
    font-weight: 800;
}

.down {
    width: 100%;
    margin-top: 15px;
    display: block;
    align-items: center;
}

.mostvisited {
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 48px;
    font-weight: bolder;
    letter-spacing: 0px;
    margin-left: 13%;
    text-align: left;}

footer{
    color: gray;
}
